:root {

    /* Primary color shades */
    --md-primary-fg-color: #0c86ae;
    --md-primary-bg-color: hsla(0, 0%, 100%, 1);

    --md-text-link-color: hsla(231, 48%, 48%, 1);

    /* Accent color shades */
    --md-accent-fg-color: #eebf3f;
    --md-accent-fg-color--transparent: #eebf3f34;
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);

}

:root > * {
  
    /* Code block color shades */
    --md-code-bg-color: hsla(0, 0%, 96%, 1);
    --md-code-fg-color: hsla(200, 18%, 26%, 1);

    /* Footer */
    --md-footer-bg-color: #0c86ae;
    --md-footer-fg-color: hsla(0, 0%, 100%, 1);

}
